In [2]:
from wikidata2df import wikidata2df
import pandas as pd
# A SPARQL query to return all cats in Wikidata!

cat_query = """
SELECT ?item ?itemLabel 
WHERE 
{
  ?item wdt:P361 wd:Q59420290.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""

df = wikidata2df(cat_query) # Returns a Pandas DataFrame

In [3]:
# https://medium.com/@sureshssarda/pandas-splitting-exploding-a-column-into-multiple-rows-b1b1d59ea12e
new_df = pd.DataFrame(df.itemLabel.str.split(' - ').tolist(), index=df.item).stack()
new_df = new_df.reset_index([0, 'item'])
new_df.columns = ['item', 'itemLabel']

In [13]:
from reconciler import reconcile
import pandas as pd
test = pd.Series(["Phibalura flavirostris", "Querula rubricollis"])

reconciled = reconcile(pd.Series(["Phibalura flavirostris"]), type_id="Q16521")

for i in new_df["itemLabel"]:
    try:
        new_recon = reconcile(pd.Series([i]), type_id="Q16521")
        print(new_recon)
        reconciled = reconciled.append(new_recon)
    except:
        pass
reconciled

100%|██████████| 1/1 [00:00<00:00, 128.38it/s]
100%|██████████| 1/1 [00:00<00:00, 122.51it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match                    name  score   type type_id  \
0  Q1086537   True  Swallow-tailed Cotinga  100.0  taxon  Q16521

              input_value
0  Phibalura flavirostris

100%|██████████| 1/1 [00:01<00:00,  1.17s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match            name  score   type type_id     input_value
0  Q21305727   True  Turdus orpheus  100.0  taxon  Q16521  Turdus orpheus

100%|██████████| 1/1 [00:01<00:00,  1.03s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match             name  score   type type_id      input_value
0  Q541001   True  Turdus flavipes  100.0  taxon  Q16521  Turdus flavipes

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.17s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match          name  score   type type_id  input_value
0  Q73459  False  Sitta azurea   78.0  taxon  Q16521  Pica azurea

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.26s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match         name  score   type type_id      input_value
0  Q376038   True  Toco Toucan  100.0  taxon  Q16521  Ramphastos toco

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.60s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                   name  score   type type_id  \
0  Q906965  False  Silver-beaked Tanager   80.0  taxon  Q16521

          input_value
0  Ramphocelus jacapa

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.67s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                    name  score   type type_id  \
0  Q938481   True  Bare-throated Bellbird   97.0  taxon  Q16521

          input_value
0  Procnia nudicollis

  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.19s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match              name  score   type type_id       input_value
0  Q651545   True  American Kestrel  100.0  taxon  Q16521  Falco sparverius

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.26s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match                name  score   type type_id  \
0  Q28114429   True  Polyborus chimango  100.0  taxon  Q16521

          input_value
0  Polyborus chimango

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.53s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match               name  score   type type_id         input_value
0  Q780340  False  White-necked Hawk   86.0  taxon  Q16521  Buteo lacernulatus

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.87s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                   name  score   type type_id  \
0  Q869376  False  Plum-throated Cotinga   74.0  taxon  Q16521

       input_value
0  Ampelis cotinga

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:04<00:00,  4.30s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                   name  score   type type_id   input_value
0  Q205477   True  Blue-and-yellow Macaw  100.0  taxon  Q16521  Ara ararauna

100%|██████████| 1/1 [00:01<00:00,  1.56s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                    name  score   type type_id  input_value
0  Q852709   True  Chestnut-fronted Macaw  100.0  taxon  Q16521  Ara severus

100%|██████████| 1/1 [00:01<00:00,  1.72s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                        name  score   type type_id  \
0  Q463154  False  Anodorhynchus hyacinthinus   86.0  taxon  Q16521

        input_value
0  Ara hyacinthinus

  0%|          | 0/1 [00:02<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.84s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match         name  score   type type_id       input_value
0  Q730129   True  Greater Ani  100.0  taxon  Q16521  Crotophaga major

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]

,id,match,name,score,type,type_id,input_value
0,Q1086537,True,Swallow-tailed Cotinga,100.0,taxon,Q16521,Phibalura flavirostris
0,Q1086537,True,Swallow-tailed Cotinga,100.0,taxon,Q16521,Phibalura flavirostris
0,Q21305727,True,Turdus orpheus,100.0,taxon,Q16521,Turdus orpheus
0,Q541001,True,Turdus flavipes,100.0,taxon,Q16521,Turdus flavipes
0,Q73459,False,Sitta azurea,78.0,taxon,Q16521,Pica azurea
0,Q376038,True,Toco Toucan,100.0,taxon,Q16521,Ramphastos toco
0,Q906965,False,Silver-beaked Tanager,80.0,taxon,Q16521,Ramphocelus jacapa
0,Q938481,True,Bare-throated Bellbird,97.0,taxon,Q16521,Procnia nudicollis
0,Q651545,True,American Kestrel,100.0,taxon,Q16521,Falco sparverius
0,Q28114429,True,Polyborus chimango,100.0,taxon,Q16521,Polyborus chimango
0,Q780340,False,White-necked Hawk,86.0,taxon,Q16521,Buteo lacernulatus
0,Q869376,False,Plum-throated Cotinga,74.0,taxon,Q16521,Ampelis cotinga
0,Q205477,True,Blue-and-yellow Macaw,100.0,taxon,Q16521,Ara ararauna
0,Q852709,True,Chestnut-fronted Macaw,100.0,taxon,Q16521,Ara severus
0,Q463154,False,Anodorhynchus hyacinthinus,86.0,taxon,Q16521,Ara hyacinthinus
0,Q730129,True,Greater Ani,100.0,taxon,Q16521,Crotophaga major

In [21]:
reconciled = reconciled[reconciled["match"] == True]

In [25]:
reconciled = reconciled.merge(new_df,  left_on="input_value", right_on="itemLabel")

In [27]:
for i, row in reconciled.iterrows():
 
    s = row["item"]
    p = "P180" # depicts
    o = row["id"]
    ref_p = "S887" # based on heuristic
    ref_o =  "Q69652283" # inferred from title
    
    print(f"{s}|{p}|{o}|{ref_p}|{ref_o}")

Q59825996|P180|Q1086537|S887|Q69652283
Q59825996|P180|Q1086537|S887|Q69652283
Q59825996|P180|Q21305727|S887|Q69652283
Q59825996|P180|Q541001|S887|Q69652283
Q59826180|P180|Q376038|S887|Q69652283
Q59826435|P180|Q938481|S887|Q69652283
Q59856162|P180|Q651545|S887|Q69652283
Q59856162|P180|Q28114429|S887|Q69652283
Q59873164|P180|Q205477|S887|Q69652283
Q59873164|P180|Q852709|S887|Q69652283
Q59873809|P180|Q730129|S887|Q69652283

Added in batch https://quickstatements.toolforge.org/#/batch/44455