In [1]:
from wikidata2df import wikidata2df
import pandas as pd

query = """
SELECT ?item ?itemLabel 
WHERE 
{
  ?item wdt:P180 wd:Q10301381. # depicts scientific illustration
  ?item wdt:P180 wd:Q441. # depicts botany
  ?item wdt:P170 wd:Q53500837. # creator is José Joaquim Freire 
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""

df = wikidata2df(query) # Returns a Pandas DataFrame

In [4]:
df["itemLabel"] = [t.replace("(","") for t in df["itemLabel"]]
df["itemLabel"] = [t.replace(")","") for t in df["itemLabel"]]
df

                 itemLabel       item
0    Bocagea del Alphonsea  Q59824645
1     Bomarca salsibloides  Q59824646
2              Bredemeyera  Q59824649
3                Büttneria  Q59824651
4                Byrsonima  Q59824652
..                     ...        ...
382              Rubiaceae  Q59825242
383              Rubiaceae  Q59825243
384              Rubiaceae  Q59825245
385              Rubiaceae  Q59825246
386              Rubiaceae  Q59825249

[387 rows x 2 columns]

In [5]:
from reconciler import reconcile
import pandas as pd

reconciled = reconcile(pd.Series(["Rubiaceae"]), type_id="Q16521")

for i in df["itemLabel"]:
    try:
        new_recon = reconcile(pd.Series([i]), type_id="Q16521")
        print(new_recon)
        reconciled = reconciled.append(new_recon)
    except:
        pass
reconciled

100%|██████████| 1/1 [00:04<00:00,  4.73s/it]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.02s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match         name  score   type type_id  input_value
0  Q8251823   True  Bredemeyera  100.0  taxon  Q16521  Bredemeyera

100%|██████████| 1/1 [00:01<00:00,  1.61s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q3300065   True  Casasia  100.0  taxon  Q16521   Büttneria

100%|██████████| 1/1 [00:03<00:00,  3.36s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match       name  score   type type_id input_value
0  Q3279490   True  Byrsonima  100.0  taxon  Q16521   Byrsonima

100%|██████████| 1/1 [00:03<00:00,  3.23s/it]
100%|██████████| 1/1 [00:00<00:00, 156.43it/s]
100%|██████████| 1/1 [00:00<00:00, 79.31it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match      name  score   type type_id input_value
0  Q1650700   True  Calathea  100.0  taxon  Q16521    Calathea
         id  match      name  score   type type_id input_value
0  Q1650700   True  Calathea  100.0  taxon  Q16521    Calathea
         id  match      name  score   type type_id input_value
0  Q1650700   True  Calathea  100.0  taxon  Q16521    Calathea

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.79s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match                     name  score   type type_id  \
0  Q2934367   True  Calophyllum brasiliense  100.0  taxon  Q16521

               input_value
0  Calophyllum brasiliense

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:04<00:00,  4.08s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match   name  score   type type_id input_value
0  Q161182   True  Canna  100.0  taxon  Q16521       Canna

100%|██████████| 1/1 [00:03<00:00,  3.33s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match       name  score      type type_id        input_value
0  Q97929135  False  Tokyo Hot   69.0  cultivar   Q4886  Capsicum annuum L

100%|██████████| 1/1 [00:03<00:00,  3.83s/it]
100%|██████████| 1/1 [00:00<00:00, 93.92it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q201959   True  Capsicum  100.0  taxon  Q16521    Capsicum
        id  match      name  score   type type_id input_value
0  Q201959   True  Capsicum  100.0  taxon  Q16521    Capsicum

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.49s/it]
100%|██████████| 1/1 [00:00<00:00, 162.70it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q311083   True  Caryocar  100.0  taxon  Q16521    Caryocar
        id  match      name  score   type type_id input_value
0  Q311083   True  Caryocar  100.0  taxon  Q16521    Caryocar

100%|██████████| 1/1 [00:02<00:00,  2.19s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match             name  score   type type_id input_value
0  Q135671   True  Croton eluteria  100.0  taxon  Q16521  Cascarilla

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.44s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match                 name  score   type type_id  \
0  Q15399290   True  Casearia javitensis  100.0  taxon  Q16521

           input_value
0  Casearia javitensis

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.06s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q537066   True  Casearia  100.0  taxon  Q16521    Casearia

100%|██████████| 1/1 [00:02<00:00,  2.06s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id          input_value
0  Q148532  False  Mimosa pudica   63.0  taxon  Q16521  Cassia chamaecrista

100%|██████████| 1/1 [00:01<00:00,  1.46s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match                name  score   type type_id  \
0  Q10279910   True  Cassia leptophylla  100.0  taxon  Q16521

          input_value
0  Cassia leptophylla

100%|██████████| 1/1 [00:03<00:00,  3.11s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match    name  score   type type_id input_value
0  Q162882  False  Cassia  100.0  taxon  Q16521      Cassia

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.52s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match          name  score   type type_id   input_value
0  Q5062982   True  Centrolobium  100.0  taxon  Q16521  Centrolobium

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.30s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match           name  score   type type_id    input_value
0  Q2105812   True  Chrysophyllum  100.0  taxon  Q16521  Chrysophyllum

100%|██████████| 1/1 [00:03<00:00,  3.14s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match    name  score   type type_id input_value
0  Q16544561  False  Cipoia   80.0  taxon  Q16521        Cipó

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.57s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id input_value
0  Q237046  False  Sparus aurata  100.0  taxon  Q16521      Cipura

100%|██████████| 1/1 [00:03<00:00,  3.32s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match                 name  score   type type_id  \
0  Q3291604   True  Cissampelos pareira  100.0  taxon  Q16521

           input_value
0  Cissampelos Pareira

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.74s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match      name  score   type type_id input_value
0  Q8346959   True  Clonodia  100.0  taxon  Q16521    Clonodia

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:02<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.39s/it]
100%|██████████| 1/1 [00:00<00:00, 69.30it/s]
100%|██████████| 1/1 [00:00<00:00, 153.18it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match        name  score   type type_id input_value
0  Q25400  False  Asteraceae  100.0  taxon  Q16521  Compositae
       id  match        name  score   type type_id input_value
0  Q25400  False  Asteraceae  100.0  taxon  Q16521  Compositae
       id  match        name  score   type type_id input_value
0  Q25400  False  Asteraceae  100.0  taxon  Q16521  Compositae

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.86s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match      name  score   type type_id input_value
0  Q8349884   True  Connarus  100.0  taxon  Q16521    Connarus

100%|██████████| 1/1 [00:01<00:00,  1.93s/it]
100%|██████████| 1/1 [00:00<00:00, 159.26it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match        name  score   type type_id input_value
0  Q8352811  False  Cybianthus  100.0  taxon  Q16521  Conomorpha
         id  match        name  score   type type_id input_value
0  Q8352811  False  Cybianthus  100.0  taxon  Q16521  Conomorpha

100%|██████████| 1/1 [00:03<00:00,  3.44s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q134428   True  Copaifera  100.0  taxon  Q16521   Copaifera

100%|██████████| 1/1 [00:03<00:00,  3.08s/it]
100%|██████████| 1/1 [00:00<00:00, 129.18it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match    name  score   type type_id input_value
0  Q716132  False  Cordia  100.0  taxon  Q16521      Cordia
        id  match    name  score   type type_id input_value
0  Q716132  False  Cordia  100.0  taxon  Q16521      Cordia

100%|██████████| 1/1 [00:03<00:00,  3.19s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match    name  score   type type_id input_value
0  Q133082   True  Costus  100.0  taxon  Q16521      Costus

100%|██████████| 1/1 [00:03<00:00,  3.46s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q2714088   True  Couepia  100.0  taxon  Q16521     Couepia

100%|██████████| 1/1 [00:03<00:00,  3.14s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match        name  score   type type_id input_value
0  Q159309   True  Couroupita  100.0  taxon  Q16521  Couroupita

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:02<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.66s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match               name  score   type type_id        input_value
0  Q214542   True  Crescentia cujete  100.0  taxon  Q16521  Crescentia cujete

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.64s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match                   name  score   type type_id  \
0  Q50839468   True  Crotalaria pterocaula  100.0  taxon  Q16521

             input_value
0  Crotalaria pterocaula

100%|██████████| 1/1 [00:03<00:00,  3.03s/it]
100%|██████████| 1/1 [00:00<00:00, 202.74it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match    name  score   type type_id input_value
0  Q519802   True  Croton  100.0  taxon  Q16521      Croton
        id  match    name  score   type type_id input_value
0  Q519802   True  Croton  100.0  taxon  Q16521      Croton

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:06<00:00,  6.25s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match    name  score   type type_id input_value
0  Q1795637   True  Cuphea  100.0  taxon  Q16521      Cuphea

100%|██████████| 1/1 [00:01<00:00,  1.73s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match             name  score type input_value
0  Q3707475  False  diga di Curnera   32.0   []     Curnera

100%|██████████| 1/1 [00:01<00:00,  1.90s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match         name  score   type type_id  input_value
0  Q5198737   True  Cyclolobium  100.0  taxon  Q16521  Cyclolobium

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.78s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match     name  score   type type_id input_value
0  Q813606   True  Cypella  100.0  taxon  Q16521     Cypella

100%|██████████| 1/1 [00:03<00:00,  3.15s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match        name  score   type type_id input_value
0  Q155843   True  Cyperaceae  100.0  taxon  Q16521  Cyperaceae

100%|██████████| 1/1 [00:01<00:00,  1.50s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match        name  score   type type_id input_value
0  Q155843  False  Cyperaceae   95.0  taxon  Q16521   Cyperacea

100%|██████████| 1/1 [00:03<00:00,  3.30s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match       name  score   type type_id input_value
0  Q1370281   True  Dalbergia  100.0  taxon  Q16521   Dalbergia

100%|██████████| 1/1 [00:01<00:00,  1.52s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match            name  score   type type_id     input_value
0  Q49523301   True  Davilla lucida  100.0  taxon  Q16521  Davilla lucida

100%|██████████| 1/1 [00:03<00:00,  3.21s/it]
100%|██████████| 1/1 [00:00<00:00, 176.55it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q258623   True  Desmodium  100.0  taxon  Q16521   Desmodium
        id  match       name  score   type type_id input_value
0  Q258623   True  Desmodium  100.0  taxon  Q16521   Desmodium

100%|██████████| 1/1 [00:02<00:00,  2.90s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match           name  score   type type_id    input_value
0  Q2272109   True  Dichorisandra  100.0  taxon  Q16521  Dichorisandra

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.24s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match         name  score   type type_id  input_value
0  Q21220172   True  Dictyophora  100.0  taxon  Q16521  Dictyophora

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.06s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q526727   True  Dolichos  100.0  taxon  Q16521    Dolichos

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.07s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match        name  score   type type_id input_value
0  Q2144596   True  Eichhornia  100.0  taxon  Q16521  Eichhornia

100%|██████████| 1/1 [00:03<00:00,  3.08s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match          name  score   type type_id   input_value
0  Q5359423   True  Elephantopus  100.0  taxon  Q16521  Elephantopus

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.96s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q2573318   True  Episcia  100.0  taxon  Q16521     Episcia

100%|██████████| 1/1 [00:02<00:00,  2.75s/it]
100%|██████████| 1/1 [00:00<00:00, 108.33it/s]
100%|██████████| 1/1 [00:00<00:00, 161.29it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match        name  score   type type_id input_value
0  Q2703906   True  Eranthemum  100.0  taxon  Q16521  Eranthemum
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae

100%|██████████| 1/1 [00:03<00:00,  3.01s/it]
100%|██████████| 1/1 [00:00<00:00, 143.75it/s]
100%|██████████| 1/1 [00:00<00:00, 93.66it/s]
100%|██████████| 1/1 [00:00<00:00, 74.01it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521    Rubiacea
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521    Rubiacea
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521    Rubiacea
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521    Rubiacea

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.17s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q1280862   True  Ruellia  100.0  taxon  Q16521     Ruellia

100%|██████████| 1/1 [00:02<00:00,  2.36s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q291801   True  Ruyschia  100.0  taxon  Q16521    Ruyschia

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.23s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q3360755  False  Salacia  100.0  taxon  Q16521     Salacia

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:02<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.11s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match              name  score   type type_id       input_value
0  Q53473  False  Scrophulariaceae  100.0  taxon  Q16521  Scrophulariaceae

100%|██████████| 1/1 [00:01<00:00,  1.58s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match                      name  score   type type_id  \
0  Q15365232   True  Scutellaria purpurascens  100.0  taxon  Q16521

                input_value
0  Scutellaria purpurascens

100%|██████████| 1/1 [00:03<00:00,  3.07s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match         name  score   type type_id  input_value
0  Q5220377   True  Sebastiania  100.0  taxon  Q16521  Sebastiania

100%|██████████| 1/1 [00:02<00:00,  2.87s/it]
100%|██████████| 1/1 [00:00<00:00, 147.15it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match        name  score   type type_id input_value
0  Q2234927   True  Securidaca  100.0  taxon  Q16521  Securidaca
         id  match        name  score   type type_id input_value
0  Q2234927   True  Securidaca  100.0  taxon  Q16521  Securidaca

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.40s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q9077867   True  Sipanea  100.0  taxon  Q16521     Sipanea

100%|██████████| 1/1 [00:02<00:00,  2.83s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match  name  score   type type_id input_value
0  Q28363681   True  Siva  100.0  taxon  Q16521        Siva

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.29s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                name  score   type type_id  \
0  Q165329  False  Smilax glyciphylla   76.0  taxon  Q16521

          input_value
0  Smilacaceae Smilax

100%|██████████| 1/1 [00:03<00:00,  3.25s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match    name  score   type type_id input_value
0  Q165315  False  Smilax  100.0  taxon  Q16521      Smilax

100%|██████████| 1/1 [00:03<00:00,  3.58s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match            name  score   type type_id        input_value
0  Q146400  False  Solanum nigrum   93.0  taxon  Q16521  Solanum nigrum, L

100%|██████████| 1/1 [00:03<00:00,  3.87s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match     name  score   type type_id input_value
0  Q146555   True  Solanum  100.0  taxon  Q16521     Solanum

100%|██████████| 1/1 [00:03<00:00,  3.45s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id    input_value
0  Q132632   True  Spathiphyllum  100.0  taxon  Q16521  Spathiphyllum

100%|██████████| 1/1 [00:01<00:00,  1.92s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q4674192  False  Aciotis  100.0  taxon  Q16521    Spennera

100%|██████████| 1/1 [00:02<00:00,  2.44s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match        name  score   type type_id input_value
0  Q1148903   True  Sphenoclea  100.0  taxon  Q16521  Sphenoclea

100%|██████████| 1/1 [00:03<00:00,  3.04s/it]
100%|██████████| 1/1 [00:00<00:00, 192.27it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match        name  score   type type_id input_value
0  Q15726706   True  Spilanthes  100.0  taxon  Q16521  Spilanthes
          id  match        name  score   type type_id input_value
0  Q15726706   True  Spilanthes  100.0  taxon  Q16521  Spilanthes

100%|██████████| 1/1 [00:01<00:00,  1.33s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match                  name  score   type type_id input_value
0  Q4674021  False  Acianthera spilantha   65.0  taxon  Q16521  Spilanthus

100%|██████████| 1/1 [00:02<00:00,  2.90s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q311460   True  Spondias  100.0  taxon  Q16521    Spondias

100%|██████████| 1/1 [00:03<00:00,  3.07s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match           name  score   type type_id    input_value
0  Q5637764   True  Stigmaphyllon  100.0  taxon  Q16521  Stigmaphyllon

100%|██████████| 1/1 [00:02<00:00,  2.97s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q904222   True  Strychnos  100.0  taxon  Q16521   Strychnos

100%|██████████| 1/1 [00:03<00:00,  3.07s/it]
100%|██████████| 1/1 [00:00<00:00, 114.79it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q136972   True  Swartzia  100.0  taxon  Q16521    Swartzia
        id  match      name  score   type type_id input_value
0  Q136972   True  Swartzia  100.0  taxon  Q16521    Swartzia

100%|██████████| 1/1 [00:03<00:00,  3.01s/it]
100%|██████████| 1/1 [00:00<00:00, 194.31it/s]
100%|██████████| 1/1 [00:00<00:00, 77.59it/s]
100%|██████████| 1/1 [00:00<00:00, 82.46it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match             name  score   type type_id      input_value
0  Q310915   True  Tabernaemontana  100.0  taxon  Q16521  Tabernaemontana
        id  match             name  score   type type_id      input_value
0  Q310915   True  Tabernaemontana  100.0  taxon  Q16521  Tabernaemontana
        id  match             name  score   type type_id      input_value
0  Q310915   True  Tabernaemontana  100.0  taxon  Q16521  Tabernaemontana
        id  match             name  score   type type_id      input_value
0  Q310915   True  Tabernaemontana  100.0  taxon  Q16521  Tabernaemontana

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:03<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.08s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match    name  score   type type_id input_value
0  Q2307801   True  Tecoma  100.0  taxon  Q16521      Tecoma

100%|██████████| 1/1 [00:01<00:00,  1.84s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match              name  score   type type_id      input_value
0  Q132719  False  Pentaphylacaceae   97.0  taxon  Q16521  Ternstroemiacea

100%|██████████| 1/1 [00:02<00:00,  2.95s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match          name  score   type type_id   input_value
0  Q2708612   True  Ternstroemia  100.0  taxon  Q16521  Ternstroemia

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.29s/it]
100%|██████████| 1/1 [00:00<00:00, 188.71it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q162078  False  Theobroma  100.0  taxon  Q16521   Theobroma
        id  match       name  score   type type_id input_value
0  Q162078  False  Theobroma  100.0  taxon  Q16521   Theobroma

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.11s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q2119788   True  Turnera  100.0  taxon  Q16521     Turnera

100%|██████████| 1/1 [00:03<00:00,  3.13s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match         name  score   type type_id  input_value
0  Q156960   True  Verbenaceae  100.0  taxon  Q16521  Verbenaceae

100%|██████████| 1/1 [00:02<00:00,  2.97s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match      name  score   type type_id input_value
0  Q1411311  False  Vernonia  100.0  taxon  Q16521    Vernonia

100%|██████████| 1/1 [00:03<00:00,  3.56s/it]
100%|██████████| 1/1 [00:00<00:00, 153.18it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match   name  score   type type_id input_value
0  Q132634   True  Vigna  100.0  taxon  Q16521       Vigna
        id  match   name  score   type type_id input_value
0  Q132634   True  Vigna  100.0  taxon  Q16521       Vigna

100%|██████████| 1/1 [00:03<00:00,  3.23s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match    name  score   type type_id input_value
0  Q1310537   True  Vismia  100.0  taxon  Q16521      Vismia

100%|██████████| 1/1 [00:03<00:00,  3.75s/it]
100%|██████████| 1/1 [00:00<00:00, 91.97it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match   name  score   type type_id input_value
0  Q132607   True  Vitex  100.0  taxon  Q16521       Vitex
        id  match   name  score   type type_id input_value
0  Q132607   True  Vitex  100.0  taxon  Q16521       Vitex

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.78s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match    name  score   type type_id input_value
0  Q81666  False  Acacia  100.0  taxon  Q16521      Acacia

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.07s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match       name  score   type type_id input_value
0  Q3309404  False  Alchornea  100.0  taxon  Q16521   Alchornea

100%|██████████| 1/1 [00:02<00:00,  2.88s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match    name  score   type type_id input_value
0  Q4713823   True  Aldina  100.0  taxon  Q16521      Aldina

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:03<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.07s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match           name  score   type type_id    input_value
0  Q2840398   True  Alternanthera  100.0  taxon  Q16521  Alternanthera

100%|██████████| 1/1 [00:03<00:00,  3.49s/it]
100%|██████████| 1/1 [00:00<00:00, 110.30it/s]
100%|██████████| 1/1 [00:00<00:00, 107.15it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id    input_value
0  Q155931   True  Amaranthaceae  100.0  taxon  Q16521  Amaranthaceae
        id  match           name  score   type type_id    input_value
0  Q155931   True  Amaranthaceae  100.0  taxon  Q16521  Amaranthaceae
        id  match           name  score   type type_id    input_value
0  Q155931   True  Amaranthaceae  100.0  taxon  Q16521  Amaranthaceae

100%|██████████| 1/1 [00:03<00:00,  3.24s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                  name  score   type type_id input_value
0  Q159792  False  Amaryllis belladonna  100.0  taxon  Q16521   Amaryllis

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.04s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id    input_value
0  Q156589   True  Anacardiaceae  100.0  taxon  Q16521  Anacardiaceae

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.87s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match        name  score   type type_id input_value
0  Q1936078   True  Anaxagorea  100.0  taxon  Q16521  Anaxagorea

100%|██████████| 1/1 [00:02<00:00,  2.77s/it]
100%|██████████| 1/1 [00:00<00:00, 147.29it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q132239  False  Citrullus  100.0  taxon  Q16521     Anguria
        id  match       name  score   type type_id input_value
0  Q132239  False  Citrullus  100.0  taxon  Q16521     Anguria

100%|██████████| 1/1 [00:01<00:00,  1.78s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match                   name  score   type type_id  \
0  Q15481876   True  Aniseia martinicensis  100.0  taxon  Q16521

             input_value
0  Aniseia martinicensis

100%|██████████| 1/1 [00:02<00:00,  2.86s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match      name  score   type type_id input_value
0  Q15933082   True  Artanthe  100.0  taxon  Q16521    Artanthe

100%|██████████| 1/1 [00:03<00:00,  3.54s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q162153   True  Asclepias  100.0  taxon  Q16521   Asclepias

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.07s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match    name  score   type type_id input_value
0  Q724502   True  Ayenia  100.0  taxon  Q16521      Ayenia

100%|██████████| 1/1 [00:02<00:00,  2.92s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match     name  score   type type_id input_value
0  Q135451   True  Bactris  100.0  taxon  Q16521     Bactris

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.16s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match          name  score   type type_id   input_value
0  Q213453   True  Bignoniaceae  100.0  taxon  Q16521  Bignoniaceae

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.11s/it]
100%|██████████| 1/1 [00:00<00:00, 199.95it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id input_value
0  Q147701  False  Bixa orellana   93.0  taxon  Q16521     Bixacea
        id  match           name  score   type type_id input_value
0  Q147701  False  Bixa orellana   93.0  taxon  Q16521     Bixacea

100%|██████████| 1/1 [00:01<00:00,  1.60s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q564650   True  Bixaceae  100.0  taxon  Q16521    Bixacées

100%|██████████| 1/1 [00:03<00:00,  3.60s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match                    name  score   type type_id input_value
0  Q1342941  False  Redtoothed triggerfish   67.0  taxon  Q16521      Bla.ca

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.56s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match               name  score   type type_id   input_value
0  Q158018  False  Erythroxylum coca  100.0  taxon  Q16521  Erythroxylon

100%|██████████| 1/1 [00:03<00:00,  3.02s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match        name  score   type type_id input_value
0  Q1123970   True  Eupatorium  100.0  taxon  Q16521  Eupatorium

100%|██████████| 1/1 [00:03<00:00,  3.02s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id    input_value
0  Q156584   True  Euphorbiaceae  100.0  taxon  Q16521  Euphorbiaceae

100%|██████████| 1/1 [00:01<00:00,  1.90s/it]
100%|██████████| 1/1 [00:00<00:00, 159.71it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id   input_value
0  Q156584   True  Euphorbiaceae   96.0  taxon  Q16521  Euphorbiacea
        id  match           name  score   type type_id   input_value
0  Q156584   True  Euphorbiaceae   96.0  taxon  Q16521  Euphorbiacea

  0%|          | 0/1 [00:03<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.33s/it]
100%|██████████| 1/1 [00:00<00:00, 126.54it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match   name  score   type type_id input_value
0  Q59798  False  Ficus  100.0  taxon  Q16521       Ficus
       id  match   name  score   type type_id input_value
0  Q59798  False  Ficus  100.0  taxon  Q16521       Ficus

  0%|          | 0/1 [00:02<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.07s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match         name  score   type type_id  input_value
0  Q1334912   True  Forsteronia  100.0  taxon  Q16521  Forsteronia

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.03s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match     name  score   type type_id input_value
0  Q142256   True  Geonoma  100.0  taxon  Q16521     Geonoma

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.19s/it]
100%|██████████| 1/1 [00:00<00:00, 275.40it/s]
100%|██████████| 1/1 [00:00<00:00, 276.78it/s]
100%|██████████| 1/1 [00:00<00:00, 272.11it/s]
100%|██████████| 1/1 [00:00<00:00, 211.10it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match     name  score   type type_id input_value
0  Q43238  False  Poaceae  100.0  taxon  Q16521    Graminea
       id  match     name  score   type type_id input_value
0  Q43238  False  Poaceae  100.0  taxon  Q16521    Graminea
       id  match     name  score   type type_id input_value
0  Q43238  False  Poaceae  100.0  taxon  Q16521    Graminea
       id  match     name  score   type type_id input_value
0  Q43238  False  Poaceae  100.0  taxon  Q16521    Graminea
       id  match     name  score   type type_id input_value
0  Q43238  False  Poaceae  100.0  taxon  Q16521    Graminea

100%|██████████| 1/1 [00:03<00:00,  3.35s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match     name  score   type type_id input_value
0  Q209089   True  Guarana  100.0  taxon  Q16521     Guaraná

100%|██████████| 1/1 [00:02<00:00,  2.94s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match    name  score   type type_id input_value
0  Q3307770   True  Guarea  100.0  taxon  Q16521      Guarea

100%|██████████| 1/1 [00:01<00:00,  1.41s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match              name  score   type type_id       input_value
0  Q10306640   True  Gustavia augusta  100.0  taxon  Q16521  Gustavia Augusta

100%|██████████| 1/1 [00:02<00:00,  2.97s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match       name  score   type type_id input_value
0  Q5701124   True  Heisteria  100.0  taxon  Q16521   Heisteria

100%|██████████| 1/1 [00:03<00:00,  3.15s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q624242  False  Heliconia  100.0  taxon  Q16521   Heliconia

100%|██████████| 1/1 [00:03<00:00,  3.18s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match       name  score   type type_id input_value
0  Q9003250   True  Herpestis  100.0  taxon  Q16521   Herpestis

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.20s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q157124  False  Hibiscus  100.0  taxon  Q16521    Hibiscus

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.30s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q9005413   True  Humiria  100.0  taxon  Q16521    Humirium

100%|██████████| 1/1 [00:02<00:00,  2.99s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match    name  score   type type_id input_value
0  Q2600191   True  Hyptis  100.0  taxon  Q16521      Hyptis

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:05<00:00,  5.36s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match         name  score   type type_id input_value
0  Q138183  False  Inga edulis  100.0  taxon  Q16521        Inga

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.41s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match     name  score   type type_id input_value
0  Q161173  False  Ipomoea  100.0  taxon  Q16521     Ipomoea

100%|██████████| 1/1 [00:03<00:00,  3.01s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q311105  False  Jacaranda  100.0  taxon  Q16521   Jacaranda

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.48s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q133290  False  Syzygium  100.0  taxon  Q16521     Jambosa

100%|██████████| 1/1 [00:03<00:00,  3.04s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match      name  score   type type_id input_value
0  Q82014  False  Jasminum  100.0  taxon  Q16521      Jasmin

100%|██████████| 1/1 [00:03<00:00,  3.35s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match             name  score   type type_id input_value
0  Q74644  False  Jatropha curcas  100.0  taxon  Q16521    Jatropha

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.98s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

          id  match     name  score   type type_id input_value
0  Q61883172  False  Labiata  100.0  taxon  Q16521     Labiata

100%|██████████| 1/1 [00:02<00:00,  2.44s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match       name  score   type type_id input_value
0  Q6468661   True  Lacistema  100.0  taxon  Q16521   Lacistema

  0%|          | 0/1 [00:02<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.67s/it]
100%|██████████| 1/1 [00:00<00:00, 256.45it/s]
100%|██████████| 1/1 [00:00<00:00, 259.48it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match       name  score   type type_id input_value
0  Q26538   True  Lauraceae  100.0  taxon  Q16521    Lauracea
       id  match       name  score   type type_id input_value
0  Q26538   True  Lauraceae  100.0  taxon  Q16521    Lauracea
       id  match       name  score   type type_id input_value
0  Q26538   True  Lauraceae  100.0  taxon  Q16521    Lauracea

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.97s/it]
100%|██████████| 1/1 [00:00<00:00, 178.32it/s]
100%|██████████| 1/1 [00:00<00:00, 141.67it/s]
100%|██████████| 1/1 [00:00<00:00, 77.95it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match      name  score   type type_id input_value
0  Q1786738   True  Lecythis  100.0  taxon  Q16521    Lecythis
         id  match      name  score   type type_id input_value
0  Q1786738   True  Lecythis  100.0  taxon  Q16521    Lecythis
         id  match      name  score   type type_id input_value
0  Q1786738   True  Lecythis  100.0  taxon  Q16521    Lecythis
         id  match      name  score   type type_id input_value
0  Q1786738   True  Lecythis  100.0  taxon  Q16521    Lecythis

100%|██████████| 1/1 [00:03<00:00,  3.19s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match      name  score   type type_id  input_value
0  Q44448  False  Fabaceae  100.0  taxon  Q16521  Leguminosae

100%|██████████| 1/1 [00:03<00:00,  3.24s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match     name  score   type type_id input_value
0  Q135759   True  Licania  100.0  taxon  Q16521     Licania

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.19s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q2346291  False  Eustoma  100.0  taxon  Q16521  Lisianthus

100%|██████████| 1/1 [00:03<00:00,  3.75s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match          name  score   type type_id   input_value
0  Q1756340   True  Lonchocarpus  100.0  taxon  Q16521  Lonchocarpus

100%|██████████| 1/1 [00:03<00:00,  3.06s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id    input_value
0  Q632563   True  Malpighiaceae  100.0  taxon  Q16521  Malpighiaceae

100%|██████████| 1/1 [00:03<00:00,  3.12s/it]
100%|██████████| 1/1 [00:00<00:00, 158.26it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match     name  score   type type_id input_value
0  Q149056  False  Manihot  100.0  taxon  Q16521     Manihot
        id  match     name  score   type type_id input_value
0  Q149056  False  Manihot  100.0  taxon  Q16521     Manihot

100%|██████████| 1/1 [00:02<00:00,  2.90s/it]
100%|██████████| 1/1 [00:00<00:00, 243.54it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match         name  score   type type_id input_value
0  Q503296  False  Marantaceae  100.0  taxon  Q16521     Maranta
        id  match         name  score   type type_id input_value
0  Q503296  False  Marantaceae  100.0  taxon  Q16521     Maranta

100%|██████████| 1/1 [00:01<00:00,  1.88s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match               name  score   type type_id        input_value
0  Q1016320  False  Mauritia flexuosa  100.0  taxon  Q16521  Mauritia vinifera

100%|██████████| 1/1 [00:02<00:00,  2.35s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match    name  score   type type_id input_value
0  Q131609   True  Mayaca  100.0  taxon  Q16521      Mayaca

100%|██████████| 1/1 [00:02<00:00,  2.10s/it]
100%|██████████| 1/1 [00:00<00:00, 139.07it/s]
100%|██████████| 1/1 [00:00<00:00, 123.39it/s]
100%|██████████| 1/1 [00:00<00:00, 156.94it/s]
100%|██████████| 1/1 [00:00<00:00, 146.21it/s]
100%|██████████| 1/1 [00:00<00:00, 107.60it/s]
100%|██████████| 1/1 [00:00<00:00, 110.69it/s]
100%|██████████| 1/1 [00:00<00:00, 135.16it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match             name  score   type type_id   input_value
0  Q648380   True  Melastomataceae   96.0  taxon  Q16521  Melastomacea
        id  match             name  score   type type_id   input_value
0  Q648380   True  Melastomataceae   96.0  taxon  Q16521  Melastomacea
        id  match             name  score   type type_id   input_value
0  Q648380   True  Melastomataceae   96.0  taxon  Q16521  Melastomacea
        id  match             name  score   type type_id   input_value
0  Q648380   True  Melastomataceae   96.0  taxon  Q16521  Melastomacea
        id  match             name  score   type type_id   input_value
0  Q648380   True  Melastomataceae   96.0  taxon  Q16521  Melastomacea
        id  match             name  score   type type_id   input_value
0  Q648380   True  Melastomataceae   96.0  taxon  Q16521  Melastomacea
        id  match             name  score   type type_id   input_value
0  Q648380   True  Melastomataceae   96.0  taxon  Q16521  Melastomacea
        id  match             name  score   type type_id   input_value
0  Q648380   True  Melastomataceae   96.0  taxon  Q16521  Melastomacea

100%|██████████| 1/1 [00:03<00:00,  3.11s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q138918   True  Melothria  100.0  taxon  Q16521   Melothria

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.63s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match      name  score   type type_id input_value
0  Q44448  False  Fabaceae   95.0  taxon  Q16521   Mimosacea

100%|██████████| 1/1 [00:02<00:00,  2.97s/it]
100%|██████████| 1/1 [00:00<00:00, 108.13it/s]
100%|██████████| 1/1 [00:00<00:00, 169.41it/s]
100%|██████████| 1/1 [00:00<00:00, 183.61it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match           name  score   type type_id input_value
0  Q148532  False  Mimosa pudica  100.0  taxon  Q16521      Mimosa
        id  match           name  score   type type_id input_value
0  Q148532  False  Mimosa pudica  100.0  taxon  Q16521      Mimosa
        id  match           name  score   type type_id input_value
0  Q148532  False  Mimosa pudica  100.0  taxon  Q16521      Mimosa
        id  match           name  score   type type_id input_value
0  Q148532  False  Mimosa pudica  100.0  taxon  Q16521      Mimosa

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.39s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q2032773   True  Mouriri  100.0  taxon  Q16521     Mouriri

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.82s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match       name  score   type type_id input_value
0  Q1878350   True  Myristica  100.0  taxon  Q16521   Myristica

100%|██████████| 1/1 [00:02<00:00,  2.70s/it]
100%|██████████| 1/1 [00:00<00:00, 173.20it/s]
100%|██████████| 1/1 [00:00<00:00, 179.55it/s]
100%|██████████| 1/1 [00:00<00:00, 185.03it/s]
100%|██████████| 1/1 [00:00<00:00, 223.60it/s]
100%|██████████| 1/1 [00:00<00:00, 219.59it/s]
100%|██████████| 1/1 [00:00<00:00, 149.06it/s]
100%|██████████| 1/1 [00:00<00:00, 194.87it/s]
100%|██████████| 1/1 [00:00<00:00, 196.33it/s]
100%|██████████| 1/1 [00:00<00:00, 103.12it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea
        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea
        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea
        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea
        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea
        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea
        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea
        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea
        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea
        id  match       name  score   type type_id input_value
0  Q156563  False  Myrtaceae   94.0  taxon  Q16521    Myrtacea

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.19s/it]
100%|██████████| 1/1 [00:00<00:00, 133.17it/s]
100%|██████████| 1/1 [00:00<00:00, 128.57it/s]
100%|██████████| 1/1 [00:00<00:00, 104.54it/s]
100%|██████████| 1/1 [00:00<00:00, 123.50it/s]
100%|██████████| 1/1 [00:00<00:00, 107.65it/s]
100%|██████████| 1/1 [00:00<00:00, 146.26it/s]
100%|██████████| 1/1 [00:00<00:00, 163.50it/s]
100%|██████████| 1/1 [00:00<00:00, 119.98it/s]
100%|██████████| 1/1 [00:00<00:00, 108.76it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea
       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea
       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea
       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea
       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea
       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea
       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea
       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea
       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea
       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea

100%|██████████| 1/1 [00:00<00:00, 83.70it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

       id  match         name  score   type type_id input_value
0  Q25308  False  Orchidaceae  100.0  taxon  Q16521    Orchidea

100%|██████████| 1/1 [00:02<00:00,  2.86s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match     name  score   type type_id input_value
0  Q2872596  False  Ormosia  100.0  taxon  Q16521     Ormosia

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.62s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match    name  score   type type_id input_value
0  Q157378   True  Oxalis  100.0  taxon  Q16521      Oxalis

100%|██████████| 1/1 [00:03<00:00,  3.22s/it]
100%|██████████| 1/1 [00:00<00:00, 156.31it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match        name  score   type type_id input_value
0  Q3292003   True  Palicourea  100.0  taxon  Q16521  Palicourea
         id  match        name  score   type type_id input_value
0  Q3292003   True  Palicourea  100.0  taxon  Q16521  Palicourea

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.26s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match    name  score   type type_id input_value
0  Q135404   True  Parkia  100.0  taxon  Q16521      Parkia

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.39s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match        name  score   type type_id input_value
0  Q161185  False  Passiflora  100.0  taxon  Q16521  Passiflora

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.50s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q310438  False  Phaseolus  100.0  taxon  Q16521   Phaseolus

100%|██████████| 1/1 [00:03<00:00,  3.14s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match          name  score   type type_id   input_value
0  Q131880   True  Philodendron  100.0  taxon  Q16521  Philodendron

100%|██████████| 1/1 [00:03<00:00,  3.43s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match         name  score   type type_id  input_value
0  Q310927  False  Phyllanthus  100.0  taxon  Q16521  Phyllanthus

100%|██████████| 1/1 [00:02<00:00,  2.26s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match        name  score   type type_id   input_value
0  Q310964  False  Epiphyllum  100.0  taxon  Q16521  Phyllocactus

100%|██████████| 1/1 [00:03<00:00,  3.23s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q158663  False  Physalis  100.0  taxon  Q16521    Physalis

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.67s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match       name  score   type type_id input_value
0  Q1131849   True  Picramnia  100.0  taxon  Q16521   Picramnia

100%|██████████| 1/1 [00:02<00:00,  2.44s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match      name  score   type type_id        input_value
0  Q2654886  False  Platonia  100.0  taxon  Q16521  Platonia insignis

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.56s/it]
100%|██████████| 1/1 [00:00<00:00, 144.36it/s]
100%|██████████| 1/1 [00:00<00:00, 186.48it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q156909   True  Polygala  100.0  taxon  Q16521    Polygala
        id  match      name  score   type type_id input_value
0  Q156909   True  Polygala  100.0  taxon  Q16521    Polygala
        id  match      name  score   type type_id input_value
0  Q156909   True  Polygala  100.0  taxon  Q16521    Polygala

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.59s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                name  score   type type_id  \
0  Q158015  False  Portulaca oleracea   95.0  taxon  Q16521

             input_value
0  Portulaca oleracea, L

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.17s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match                name  score   type type_id input_value
0  Q158015  False  Portulaca oleracea  100.0  taxon  Q16521   Portulaca

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.91s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match        name  score   type type_id input_value
0  Q157228   True  Proteaceae  100.0  taxon  Q16521  Proteaceae

100%|██████████| 1/1 [00:03<00:00,  3.10s/it]
100%|██████████| 1/1 [00:00<00:00, 203.18it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match     name  score   type type_id input_value
0  Q320179   True  Psidium  100.0  taxon  Q16521     Psidium
        id  match     name  score   type type_id input_value
0  Q320179   True  Psidium  100.0  taxon  Q16521     Psidium

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.82s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match        name  score   type type_id input_value
0  Q904250   True  Psychotria  100.0  taxon  Q16521  Psychotria

100%|██████████| 1/1 [00:03<00:00,  3.11s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

         id  match    name  score   type type_id input_value
0  Q7268624   True  Qualea  100.0  taxon  Q16521      Qualea

  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.06s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match       name  score   type type_id input_value
0  Q143783   True  Renealmia  100.0  taxon  Q16521   Renealmia

100%|██████████| 1/1 [00:02<00:00,  2.87s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

        id  match      name  score   type type_id input_value
0  Q311454  False  Garcinia  100.0  taxon  Q16521     Rheedia

  0%|          | 0/1 [00:01<?, ?it/s]
  0%|          | 0/1 [00:01<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00, 44.00it/s]
100%|██████████| 1/1 [00:00<00:00, 146.56it/s]
100%|██████████| 1/1 [00:00<00:00, 146.10it/s]
100%|██████████| 1/1 [00:00<00:00, 100.68it/s]
100%|██████████| 1/1 [00:00<00:00, 88.00it/s]
100%|██████████| 1/1 [00:00<00:00, 155.00it/s]
100%|██████████| 1/1 [00:00<00:00, 213.28it/s]
100%|██████████| 1/1 [00:00<00:00, 165.94it/s]
100%|██████████| 1/1 [00:00<00:00, 111.99it/s]
100%|██████████| 1/1 [00:00<00:00, 87.38it/s]

        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae
        id  match       name  score   type type_id input_value
0  Q156569   True  Rubiaceae  100.0  taxon  Q16521   Rubiaceae

          id  match         name  score   type type_id  input_value
0    Q156569   True    Rubiaceae  100.0  taxon  Q16521    Rubiaceae
0   Q8251823   True  Bredemeyera  100.0  taxon  Q16521  Bredemeyera
0   Q3300065   True      Casasia  100.0  taxon  Q16521    Büttneria
0   Q3279490   True    Byrsonima  100.0  taxon  Q16521    Byrsonima
0   Q1650700   True     Calathea  100.0  taxon  Q16521     Calathea
..       ...    ...          ...    ...    ...     ...          ...
0    Q156569   True    Rubiaceae  100.0  taxon  Q16521    Rubiaceae
0    Q156569   True    Rubiaceae  100.0  taxon  Q16521    Rubiaceae
0    Q156569   True    Rubiaceae  100.0  taxon  Q16521    Rubiaceae
0    Q156569   True    Rubiaceae  100.0  taxon  Q16521    Rubiaceae
0    Q156569   True    Rubiaceae  100.0  taxon  Q16521    Rubiaceae

[250 rows x 7 columns]

In [6]:
reconciled = reconciled[reconciled["match"] == True]

In [7]:
reconciled = reconciled.merge(df,  left_on="input_value", right_on="itemLabel")

In [8]:
for i, row in reconciled.iterrows():
 
    s = row["item"]
    p = "P180" # depicts
    o = row["id"]
    ref_p = "S887" # based on heuristic
    ref_o =  "Q69652283" # inferred from title
    
    print(f"{s}|{p}|{o}|{ref_p}|{ref_o}")

Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824297|P180|Q156569|S887|Q69652283
Q59824298|P180|Q156569|S887|Q69652283
Q59825237|P180|Q156569|S887|Q69652283
Q59825238|P180|Q156569|S887|Q69652283
Q59825239|P180|Q156569|S887|Q69652283
Q59825240|P180|Q156569|S887|Q69652283
Q59825241|P180|Q156569|S887|Q69652283
Q59825242|P180|Q156569|S887|Q69652283
Q59825243|P180|Q156569|S887|Q69652283
Q59825245|P180|Q156569|S887|Q69652283
Q59825246|P180|Q156569|S887|Q69652283
Q59825249|P180|Q156569|S887|Q69652283
Q59824649|P180|Q8251823|S887|Q69652283
Q59824651|P180|Q3300065|S887|Q69652283
Q59824652|P180|Q3279490|S887|Q69652283
Q59824658|P180|Q1650700|S887|Q69652283
Q59824660|P180|Q1650700|S887|Q69652283
Q59824661|P180|Q1650700|S887|Q69652283
Q59824658|P180|Q1650700|S887|Q69652283
Q59824660|P180|Q1650700|S887|Q69652283
Q59824661|P180|Q1650700|S887|Q69652283
Q59824658|P180|Q1650700|S887|Q69652283
Q59824660|P180|Q1650700|S887|Q69652283
Q59824661|P180|Q1650700|S887|Q69652283
Q59824665|P180|Q2934367|S887|Q69652283
Q59824670|P180|Q161182|S887|Q69652283
Q59824673|P180|Q201959|S887|Q69652283
Q59824674|P180|Q201959|S887|Q69652283
Q59824673|P180|Q201959|S887|Q69652283
Q59824674|P180|Q201959|S887|Q69652283
Q59824679|P180|Q311083|S887|Q69652283
Q59824680|P180|Q311083|S887|Q69652283
Q59824679|P180|Q311083|S887|Q69652283
Q59824680|P180|Q311083|S887|Q69652283
Q59824681|P180|Q135671|S887|Q69652283
Q59824683|P180|Q15399290|S887|Q69652283
Q59824689|P180|Q537066|S887|Q69652283
Q59824692|P180|Q10279910|S887|Q69652283
Q59824704|P180|Q5062982|S887|Q69652283
Q59824710|P180|Q2105812|S887|Q69652283
Q59824716|P180|Q3291604|S887|Q69652283
Q59824722|P180|Q8346959|S887|Q69652283
Q59824740|P180|Q8349884|S887|Q69652283
Q59824743|P180|Q134428|S887|Q69652283
Q59824747|P180|Q133082|S887|Q69652283
Q59824750|P180|Q2714088|S887|Q69652283
Q59824753|P180|Q159309|S887|Q69652283
Q59824759|P180|Q214542|S887|Q69652283
Q59824762|P180|Q50839468|S887|Q69652283
Q59824763|P180|Q519802|S887|Q69652283
Q59824764|P180|Q519802|S887|Q69652283
Q59824763|P180|Q519802|S887|Q69652283
Q59824764|P180|Q519802|S887|Q69652283
Q59824767|P180|Q1795637|S887|Q69652283
Q59824771|P180|Q5198737|S887|Q69652283
Q59824773|P180|Q813606|S887|Q69652283
Q59824775|P180|Q155843|S887|Q69652283
Q59824779|P180|Q1370281|S887|Q69652283
Q59824780|P180|Q49523301|S887|Q69652283
Q59824782|P180|Q258623|S887|Q69652283
Q59824783|P180|Q258623|S887|Q69652283
Q59824782|P180|Q258623|S887|Q69652283
Q59824783|P180|Q258623|S887|Q69652283
Q59824784|P180|Q2272109|S887|Q69652283
Q59824787|P180|Q21220172|S887|Q69652283
Q59824793|P180|Q526727|S887|Q69652283
Q59824796|P180|Q2144596|S887|Q69652283
Q59824797|P180|Q5359423|S887|Q69652283
Q59824801|P180|Q2573318|S887|Q69652283
Q59824802|P180|Q2703906|S887|Q69652283
Q59824299|P180|Q156569|S887|Q69652283
Q59824300|P180|Q156569|S887|Q69652283
Q59824303|P180|Q156569|S887|Q69652283
Q59824304|P180|Q156569|S887|Q69652283
Q59824299|P180|Q156569|S887|Q69652283
Q59824300|P180|Q156569|S887|Q69652283
Q59824303|P180|Q156569|S887|Q69652283
Q59824304|P180|Q156569|S887|Q69652283
Q59824299|P180|Q156569|S887|Q69652283
Q59824300|P180|Q156569|S887|Q69652283
Q59824303|P180|Q156569|S887|Q69652283
Q59824304|P180|Q156569|S887|Q69652283
Q59824299|P180|Q156569|S887|Q69652283
Q59824300|P180|Q156569|S887|Q69652283
Q59824303|P180|Q156569|S887|Q69652283
Q59824304|P180|Q156569|S887|Q69652283
Q59824306|P180|Q1280862|S887|Q69652283
Q59824308|P180|Q291801|S887|Q69652283
Q59824322|P180|Q15365232|S887|Q69652283
Q59824323|P180|Q5220377|S887|Q69652283
Q59824324|P180|Q2234927|S887|Q69652283
Q59824326|P180|Q2234927|S887|Q69652283
Q59824324|P180|Q2234927|S887|Q69652283
Q59824326|P180|Q2234927|S887|Q69652283
Q59824419|P180|Q9077867|S887|Q69652283
Q59824420|P180|Q28363681|S887|Q69652283
Q59824425|P180|Q146555|S887|Q69652283
Q59824426|P180|Q132632|S887|Q69652283
Q59824429|P180|Q1148903|S887|Q69652283
Q59824431|P180|Q15726706|S887|Q69652283
Q59824432|P180|Q15726706|S887|Q69652283
Q59824431|P180|Q15726706|S887|Q69652283
Q59824432|P180|Q15726706|S887|Q69652283
Q59824434|P180|Q311460|S887|Q69652283
Q59824437|P180|Q5637764|S887|Q69652283
Q59824439|P180|Q904222|S887|Q69652283
Q59824442|P180|Q136972|S887|Q69652283
Q59824443|P180|Q136972|S887|Q69652283
Q59824442|P180|Q136972|S887|Q69652283
Q59824443|P180|Q136972|S887|Q69652283
Q59824446|P180|Q310915|S887|Q69652283
Q59824447|P180|Q310915|S887|Q69652283
Q59824449|P180|Q310915|S887|Q69652283
Q59824450|P180|Q310915|S887|Q69652283
Q59824446|P180|Q310915|S887|Q69652283
Q59824447|P180|Q310915|S887|Q69652283
Q59824449|P180|Q310915|S887|Q69652283
Q59824450|P180|Q310915|S887|Q69652283
Q59824446|P180|Q310915|S887|Q69652283
Q59824447|P180|Q310915|S887|Q69652283
Q59824449|P180|Q310915|S887|Q69652283
Q59824450|P180|Q310915|S887|Q69652283
Q59824446|P180|Q310915|S887|Q69652283
Q59824447|P180|Q310915|S887|Q69652283
Q59824449|P180|Q310915|S887|Q69652283
Q59824450|P180|Q310915|S887|Q69652283
Q59824455|P180|Q2307801|S887|Q69652283
Q59824458|P180|Q2708612|S887|Q69652283
Q59824472|P180|Q2119788|S887|Q69652283
Q59824475|P180|Q156960|S887|Q69652283
Q59824477|P180|Q132634|S887|Q69652283
Q59824478|P180|Q132634|S887|Q69652283
Q59824477|P180|Q132634|S887|Q69652283
Q59824478|P180|Q132634|S887|Q69652283
Q59824481|P180|Q1310537|S887|Q69652283
Q59824483|P180|Q132607|S887|Q69652283
Q59824484|P180|Q132607|S887|Q69652283
Q59824483|P180|Q132607|S887|Q69652283
Q59824484|P180|Q132607|S887|Q69652283
Q59824578|P180|Q4713823|S887|Q69652283
Q59824583|P180|Q2840398|S887|Q69652283
Q59824585|P180|Q155931|S887|Q69652283
Q59824586|P180|Q155931|S887|Q69652283
Q59824587|P180|Q155931|S887|Q69652283
Q59824585|P180|Q155931|S887|Q69652283
Q59824586|P180|Q155931|S887|Q69652283
Q59824587|P180|Q155931|S887|Q69652283
Q59824585|P180|Q155931|S887|Q69652283
Q59824586|P180|Q155931|S887|Q69652283
Q59824587|P180|Q155931|S887|Q69652283
Q59824595|P180|Q156589|S887|Q69652283
Q59824597|P180|Q1936078|S887|Q69652283
Q59824602|P180|Q15481876|S887|Q69652283
Q59824612|P180|Q15933082|S887|Q69652283
Q59824614|P180|Q162153|S887|Q69652283
Q59824621|P180|Q724502|S887|Q69652283
Q59824623|P180|Q135451|S887|Q69652283
Q59824635|P180|Q213453|S887|Q69652283
Q59824643|P180|Q564650|S887|Q69652283
Q59824809|P180|Q1123970|S887|Q69652283
Q59824810|P180|Q156584|S887|Q69652283
Q59824811|P180|Q156584|S887|Q69652283
Q59824812|P180|Q156584|S887|Q69652283
Q59824811|P180|Q156584|S887|Q69652283
Q59824812|P180|Q156584|S887|Q69652283
Q59824885|P180|Q1334912|S887|Q69652283
Q59824890|P180|Q142256|S887|Q69652283
Q59824911|P180|Q209089|S887|Q69652283
Q59824912|P180|Q3307770|S887|Q69652283
Q59824916|P180|Q10306640|S887|Q69652283
Q59824919|P180|Q5701124|S887|Q69652283
Q59824922|P180|Q9003250|S887|Q69652283
Q59824942|P180|Q9005413|S887|Q69652283
Q59824943|P180|Q2600191|S887|Q69652283
Q59825022|P180|Q6468661|S887|Q69652283
Q59825027|P180|Q26538|S887|Q69652283
Q59825030|P180|Q26538|S887|Q69652283
Q59825031|P180|Q26538|S887|Q69652283
Q59825027|P180|Q26538|S887|Q69652283
Q59825030|P180|Q26538|S887|Q69652283
Q59825031|P180|Q26538|S887|Q69652283
Q59825027|P180|Q26538|S887|Q69652283
Q59825030|P180|Q26538|S887|Q69652283
Q59825031|P180|Q26538|S887|Q69652283
Q59825035|P180|Q1786738|S887|Q69652283
Q59825036|P180|Q1786738|S887|Q69652283
Q59825037|P180|Q1786738|S887|Q69652283
Q59825038|P180|Q1786738|S887|Q69652283
Q59825035|P180|Q1786738|S887|Q69652283
Q59825036|P180|Q1786738|S887|Q69652283
Q59825037|P180|Q1786738|S887|Q69652283
Q59825038|P180|Q1786738|S887|Q69652283
Q59825035|P180|Q1786738|S887|Q69652283
Q59825036|P180|Q1786738|S887|Q69652283
Q59825037|P180|Q1786738|S887|Q69652283
Q59825038|P180|Q1786738|S887|Q69652283
Q59825035|P180|Q1786738|S887|Q69652283
Q59825036|P180|Q1786738|S887|Q69652283
Q59825037|P180|Q1786738|S887|Q69652283
Q59825038|P180|Q1786738|S887|Q69652283
Q59825042|P180|Q135759|S887|Q69652283
Q59825055|P180|Q1756340|S887|Q69652283
Q59825061|P180|Q632563|S887|Q69652283
Q59825071|P180|Q131609|S887|Q69652283
Q59825073|P180|Q648380|S887|Q69652283
Q59825074|P180|Q648380|S887|Q69652283
Q59825076|P180|Q648380|S887|Q69652283
Q59825077|P180|Q648380|S887|Q69652283
Q59825078|P180|Q648380|S887|Q69652283
Q59825082|P180|Q648380|S887|Q69652283
Q59825084|P180|Q648380|S887|Q69652283
Q59825086|P180|Q648380|S887|Q69652283
Q59825073|P180|Q648380|S887|Q69652283
Q59825074|P180|Q648380|S887|Q69652283
Q59825076|P180|Q648380|S887|Q69652283
Q59825077|P180|Q648380|S887|Q69652283
Q59825078|P180|Q648380|S887|Q69652283
Q59825082|P180|Q648380|S887|Q69652283
Q59825084|P180|Q648380|S887|Q69652283
Q59825086|P180|Q648380|S887|Q69652283
Q59825073|P180|Q648380|S887|Q69652283
Q59825074|P180|Q648380|S887|Q69652283
Q59825076|P180|Q648380|S887|Q69652283
Q59825077|P180|Q648380|S887|Q69652283
Q59825078|P180|Q648380|S887|Q69652283
Q59825082|P180|Q648380|S887|Q69652283
Q59825084|P180|Q648380|S887|Q69652283
Q59825086|P180|Q648380|S887|Q69652283
Q59825073|P180|Q648380|S887|Q69652283
Q59825074|P180|Q648380|S887|Q69652283
Q59825076|P180|Q648380|S887|Q69652283
Q59825077|P180|Q648380|S887|Q69652283
Q59825078|P180|Q648380|S887|Q69652283
Q59825082|P180|Q648380|S887|Q69652283
Q59825084|P180|Q648380|S887|Q69652283
Q59825086|P180|Q648380|S887|Q69652283
Q59825073|P180|Q648380|S887|Q69652283
Q59825074|P180|Q648380|S887|Q69652283
Q59825076|P180|Q648380|S887|Q69652283
Q59825077|P180|Q648380|S887|Q69652283
Q59825078|P180|Q648380|S887|Q69652283
Q59825082|P180|Q648380|S887|Q69652283
Q59825084|P180|Q648380|S887|Q69652283
Q59825086|P180|Q648380|S887|Q69652283
Q59825073|P180|Q648380|S887|Q69652283
Q59825074|P180|Q648380|S887|Q69652283
Q59825076|P180|Q648380|S887|Q69652283
Q59825077|P180|Q648380|S887|Q69652283
Q59825078|P180|Q648380|S887|Q69652283
Q59825082|P180|Q648380|S887|Q69652283
Q59825084|P180|Q648380|S887|Q69652283
Q59825086|P180|Q648380|S887|Q69652283
Q59825073|P180|Q648380|S887|Q69652283
Q59825074|P180|Q648380|S887|Q69652283
Q59825076|P180|Q648380|S887|Q69652283
Q59825077|P180|Q648380|S887|Q69652283
Q59825078|P180|Q648380|S887|Q69652283
Q59825082|P180|Q648380|S887|Q69652283
Q59825084|P180|Q648380|S887|Q69652283
Q59825086|P180|Q648380|S887|Q69652283
Q59825073|P180|Q648380|S887|Q69652283
Q59825074|P180|Q648380|S887|Q69652283
Q59825076|P180|Q648380|S887|Q69652283
Q59825077|P180|Q648380|S887|Q69652283
Q59825078|P180|Q648380|S887|Q69652283
Q59825082|P180|Q648380|S887|Q69652283
Q59825084|P180|Q648380|S887|Q69652283
Q59825086|P180|Q648380|S887|Q69652283
Q59825087|P180|Q138918|S887|Q69652283
Q59825106|P180|Q2032773|S887|Q69652283
Q59825108|P180|Q1878350|S887|Q69652283
Q59825158|P180|Q157378|S887|Q69652283
Q59825159|P180|Q3292003|S887|Q69652283
Q59825160|P180|Q3292003|S887|Q69652283
Q59825159|P180|Q3292003|S887|Q69652283
Q59825160|P180|Q3292003|S887|Q69652283
Q59825167|P180|Q135404|S887|Q69652283
Q59825186|P180|Q131880|S887|Q69652283
Q59825193|P180|Q1131849|S887|Q69652283
Q59825198|P180|Q156909|S887|Q69652283
Q59825199|P180|Q156909|S887|Q69652283
Q59825200|P180|Q156909|S887|Q69652283
Q59825198|P180|Q156909|S887|Q69652283
Q59825199|P180|Q156909|S887|Q69652283
Q59825200|P180|Q156909|S887|Q69652283
Q59825198|P180|Q156909|S887|Q69652283
Q59825199|P180|Q156909|S887|Q69652283
Q59825200|P180|Q156909|S887|Q69652283
Q59825212|P180|Q157228|S887|Q69652283
Q59825214|P180|Q320179|S887|Q69652283
Q59825215|P180|Q320179|S887|Q69652283
Q59825214|P180|Q320179|S887|Q69652283
Q59825215|P180|Q320179|S887|Q69652283
Q59825219|P180|Q904250|S887|Q69652283
Q59825222|P180|Q7268624|S887|Q69652283
Q59825225|P180|Q143783|S887|Q69652283

Added in batch https://quickstatements.toolforge.org/#/batch/44484